* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container1{
    background-color: white;
}
.links {
  display: flex;
  gap: 20px;
  font-size: 18px;
}
.linkss:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
.linkss:active {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}
.displayGood{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 50px 150px;
}
.left{
    display: flex;
    gap: 10px;
}
.smallImg{
    display: grid;
}
.right{
    margin: 100px 100px 100px 30px;
}
.bigImg img{
    width: 350px;
    height: 470px;
}
.smallImg img{
    width: 120px;
}
.share p{
    display: inline;
}
.share{
    display: flex;
    gap: 30px;  
    margin: 10px 0; 
}
.btns{
    display: flex;
    gap: 30px;
}
.btns button, .ratingReview button{
    border-radius: 10px;
    padding: 5px 20px;
    cursor: pointer;
}
.ratingReview{
    display: flex;
    gap: 20px;
}
.ratingReview button, .FavoriteBtn{
    background-color: transparent;
    border: 1px solid #1D3178;
}
.AddCartBtn{
    background-color: #FF3EB2;
    color: #ffffff;
    border: none;
}