* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Bai+Jamjuree:wght@400;600&family=Barlow+Semi+Condensed:wght@500;600&family=Cairo:wght@600&family=Crimson+Text&family=Dancing+Script:wght@700&family=Josefin+Sans:wght@400;700&family=Kumbh+Sans:wght@500;700&family=La+Belle+Aurore&family=Public+Sans:wght@300;400;700&family=Red+Hat+Text:wght@700&family=Roboto:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Acme&family=Bai+Jamjuree:wght@400;600&family=Barlow+Semi+Condensed:wght@500;600&family=Cairo:wght@600&family=Crimson+Text&family=Dancing+Script:wght@700&family=Josefin+Sans:wght@400;700&family=Kumbh+Sans:wght@500;700&family=La+Belle+Aurore&family=Lato&family=Public+Sans:wght@300;400;700&family=Red+Hat+Text:wght@700&family=Roboto:wght@500&display=swap");

.navbar {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #0d0e43;
}
.home {
  background: linear-gradient(180deg, #eae6ff 0%, rgba(234, 230, 255, 0) 100%);
}
.navbar2 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: black;
  background-color: #8568ff;
  padding: 20px 10px;
}
.row {
  display: flex;
  justify-content: space-between;
}
.col {
  display: flex;
  justify-content: space-around;
}
.NavLink:active {
  color: #ffffff;
}
.logo {
  font-family: "Crimson Text", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 44px;
  margin: 0px 50px;
  cursor: pointer;
}
.logo .Shop {
  color: #8568ff;
}
.logo .Shop2 {
  color: #ffffff;
}
.navLinks,
.navLinks2 {
  list-style-type: none;
  display: flex;
  gap: 30px;
  margin-top: 10px;
}
.navLinks li {
  color: #0d0e43;
}
.navLinks2 li {
  color: #ffffff;
}
.icons {
  display: flex;
  color: #0d0e43;
  gap: 10px;
  margin: 15px 20px;
  position: absolute;
  right: 50px;
}
.input {
  position: absolute;
  right: 200px;
}
.input input {
  border-radius: 5px;
  margin-top: 10px;
  height: 25px;
  width: 200px;
  border: none;
}
.input button {
  background: none;
  border: none;
  position: absolute;
  top: 15px;
  right: 10px;
}
.NavLink {
  text-decoration: none;
}
.cartIcon,
.profileIcon,
.heartIcon {
  cursor: pointer;
}
.cartIcon2,
.profileIcon2,
.heartIcon2 {
  cursor: pointer;
  color: #ffffff;
}
.active {
  color: white;
  font-weight: bold;
  /* color: grey; */
}
